* {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
ul {
    margin: 0;
    padding: 0;
    font-size: 1.1875rem;
}

body {
   
    font-family: monteserrat;
    /* background-color: #eeeeee; */
}

ul {
    list-style-type: none;
}